@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-image: url(/images/cover.jpg);
    background-size: cover;
    background-attachment: scroll;
}

header {
    position: fixed;
    display: inline-flex;
    width: 100vw;
    background-color: #ffffff;
    z-index: 10;
    height: auto;
    top: 0;
}

.logo {
    position: absolute;
    max-width: 6rem;
    float: left;
    margin-left: 2rem;
    z-index: 9;
}

nav {
    display: inline-block;
    background-color: #ffffff;
    width: 100vw;
    text-align: right;
    margin-right: 2rem;
    z-index: 8;
}

nav a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    display: inline-block;
    padding: 2rem .6rem;
    margin-bottom: .5rem;
    color: #1e1e1e;
    text-decoration: none;
    margin-right: 1rem;
}


/*--------------------------------------TOP----------------------------*/

.top {
    position: relative;
    top: 200px;
    text-align: center;
    z-index: 7;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    color: #1e1e1e;
    line-height: 60px;
    margin: 15px 15px;
}

h5 {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: #1e1e1e;
    font-weight: 400;
}


/*--------------------------------------ABOUT-----------------------------*/

.about {
    position: absolute;
    top: 800px;
    background-image: url(/images/coffeebeans.jpg);
    background-size: cover;
    height: 100%;
}

.container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70%;
    line-height: 30px;
    background-color: #2f3e46;
    padding: 100px 50px;
    border-radius: 15px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 40px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: #ffffff;
    text-justify: inter-word;
}